# <center>  Model Creat Dataframe naticommunes [NAT]<br/></center>
<a name="TOP"></a>
- dev : nyx
- Fichier CSV : Proprietaires_csv/Proprietaires_csv/proprietairescommunes.csv</a>

ALERTES 98 lignes à Nan 
Faire les plus proches voisins apres FUSION ?
    
# Description Fichiers : 
Nationalites communes 2022
avec pour chaque année :
    4 capital immo
    5 prix du bien

# Synthese des Actions :
Plus de 1000 communes non renseignees flag 1 pour BL_bug
creation de lignes avec que des 0
  
**<u>MENU</u>** 
- <a href="#Import">P0 : Import CSV</a>
- <a href="#EDA">P1 : Mini EDA</a>
- <a href="#Nan">P2 : Traitement des Nan</a>
- <a href="#TRANSCO">P3 : Filtres et/ou calculs</a>
- <a href="#EXPORT">P4 : EXPORT (/DATA/EXPORT_CSV/final_xxxxxxx.csv)</a>

PREFIXE FICHIER : KP1
Structure :

    0 dep
    1 nomdep
    2 codecommune
    3 nomcommune
    4 KP1_capitalimmo22
    5 KP1_prixbien22
    6 KP1_capitalimmo12
    7 KP1_prixbien12
    8 KP1_capitalimmo02
    9 KP1_prixbien02
    10 KP1_capitalimmo92
    11 KP1_prixbien92
    12 DBL_bug (flag à 1 poour les lignes ajoutées avec des Nan A TRAITER)

In [1]:
import warnings
warnings.filterwarnings("ignore")

import os
import zipfile
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

## <a name="Import"></a>Partie 0 : Import CSV&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [2]:
def df_creat(filename, df_dataframe):  
    df = df_dataframe[df_dataframe['filename'] == filename]
    if len(df) == 1:
        row = df.iloc[0]
        file = row['path']
        if os.path.exists(file):
            print(file)
            df_from_csv = pd.read_csv(file, encoding='utf-8', low_memory=False)
            return df_from_csv
        else:
            print('FICHIER NON TROUVE', file)
            return pd.DataFrame()
    else:
        print(f"filename: '{filename}' return size: {len(df)}")
        return pd.DataFrame()

In [3]:
csv_file_path = 'df_filtred.csv'
# Use pandas to read the CSV file into a DataFrame with UTF-8 encoding
df_cat = pd.read_csv(csv_file_path, encoding='utf-8')

In [4]:
df_cat.head(1)

,category,filename,comment,size,depart,district,commune,canton,yyyy,path,codecommune
0,Taille_agglo_commune_csv,codescommunes1999,codes,0,0,0,1,0,1999,../../ProjetCommun/DATA_SOURCES/HCP/Taille_agg...,1

In [5]:
df = df_creat('naticommunes', df_cat)

../../ProjetCommun/DATA_SOURCES/HCP/Nationalites_csv/Nationalites_csv/naticommunes.csv

## <a name="EDA"></a>Partie 1 : Mini EDA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#TOP">&uarr;</a>

In [6]:
df.shape

(37963, 547)

In [7]:
df.head(5)

,dep,nomdep,codecommune,nomcommune,paris,lm,pop1962,francais1962,etranger1962,franaiss1962,...,pnatur2007,pnaturfra2007,pnatur2012,pnaturfra2012,pnatur2017,pnaturfra2017,pnatur2022,pnaturfra2022,perimm,petranalg1962
0,80,SOMME,80355,FRESNEVILLE,0,0,107.0,105.0,2.0,105.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.000000
1,30,GARD,30213,REVENS,0,0,39.0,39.0,0.0,39.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000002,0.000000
2,55,MEUSE,55434,RIGNY-SAINT-MARTIN,0,0,57.0,57.0,0.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000003,0.000000
3,80,SOMME,80401,GUILLEMONT,0,0,197.0,189.0,8.0,185.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.005076
4,2B,HAUTE-CORSE,2B264,RUSIO,0,0,220.0,220.0,0.0,220.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000006,0.000000

In [15]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2022 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

petranger2022
peretr2022
francais2022
etranger2022
pop2022
immigre2022
pimmigre2022
immnatur2022
pimmnatur2022
perimmigre2022
natur2022
pnatur2022
pnaturfra2022
{'dep': '80', 'nomdep': 'SOMME', 'codecommune': '80355', 'nomcommune': 'FRESNEVILLE', 'paris': 0, 'lm': 0, 'petranger2022': 0.0, 'peretr2022': 0.0093173301, 'francais2022': 105, 'etranger2022': 0, 'pop2022': 105, 'immigre2022': 0, 'prapat': 0.0, 'perrapat': 0.022626322, 'pimmigre2022': 0.0, 'immnatur2022': 0, 'pimmnatur2022': 0.0, 'perimmigre2022': 1.5965788e-06, 'natur2022': 0, 'pnatur2022': 0.0, 'pnaturfra2022': 0.0, 'perimm': 1.5965788e-06}

In [ ]:
# ['petranger2022','pimmigre2022','pimmnatur2022','pnatur2022']

In [14]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2012 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

petranger2012
peretr2012
pop2012
francais2012
etranger2012
immigre2012
pimmigre2012
immnatur2012
pimmnatur2012
perimmigre2012
natur2012
pnatur2012
pnaturfra2012
{'dep': '80', 'nomdep': 'SOMME', 'codecommune': '80355', 'nomcommune': 'FRESNEVILLE', 'paris': 0, 'lm': 0, 'petranger2012': 0.0, 'peretr2012': 0.0011042827, 'pop2012': 105.0, 'francais2012': 105.0, 'etranger2012': 0.0, 'immigre2012': 0.0, 'prapat': 0.0, 'perrapat': 0.022626322, 'pimmigre2012': 0.0, 'immnatur2012': 0, 'pimmnatur2012': 0.0, 'perimmigre2012': 0.0019888605, 'natur2012': 0, 'pnatur2012': 0.0, 'pnaturfra2012': 0.0, 'perimm': 1.5965788e-06}

In [16]:
# ['petranger2022','pimmigre2022','pimmnatur2022','pnatur2022','petranger2012','pimmigre2012','pimmnatur2012','pimmnatur2012']

In [13]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 2002 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

petranger2002
peretr2002
francais2002
etranger2002
pop2002
{'dep': '80', 'nomdep': 'SOMME', 'codecommune': '80355', 'nomcommune': 'FRESNEVILLE', 'paris': 0, 'lm': 0, 'petranger2002': 0.0, 'peretr2002': 0.0087613985, 'francais2002': 87.0, 'etranger2002': 0.0, 'pop2002': 87.0, 'prapat': 0.0, 'perrapat': 0.022626322, 'perimm': 1.5965788e-06}

In [ ]:
# ['petranger2022','pimmigre2022','pimmnatur2022','pnatur2022','petranger2012','pimmigre2012','pimmnatur2012','pimmnatur2012','petranger2002']

In [12]:
dico={}
for c in df :
    value =df[c].iloc[0]
    try:
        last4char = int(c[-4:])
        if last4char > 0 and last4char == 1992 :
            dico[c] = value
            print (c)
    except ValueError as e:
        dico[c] = value
print (dico)

petranger1992
peretr1992
francais1992
etranger1992
pop1992
{'dep': '80', 'nomdep': 'SOMME', 'codecommune': '80355', 'nomcommune': 'FRESNEVILLE', 'paris': 0, 'lm': 0, 'petranger1992': 0.0, 'peretr1992': 0.00021947466, 'francais1992': 71.0, 'etranger1992': 0.0, 'pop1992': 71.0, 'prapat': 0.0, 'perrapat': 0.022626322, 'perimm': 1.5965788e-06}

In [26]:
# ['petranger2022','pimmigre2022','pimmnatur2022','pnatur2022','petranger2012','pimmigre2012','pimmnatur2012','pimmnatur2012','petranger2002','petranger1992']

col_dict = {
    'petranger2022' : 'NAT_petranger22',
    'pimmigre2022' : 'NAT_pimmigre22',
    'pimmnatur2022' : 'NAT_pimmnatur22',
    'pnatur2022' : 'NAT_pnatur22' ,
    'petranger2012' : 'NAT_petranger12' ,
    'pimmigre2012' : 'NAT_pimmigre12',
    'pimmnatur2012' : 'NAT_pimmnatur12',
    'pimmnatur2012' : 'NAT_pimmnatur12',
    'petranger2002' : 'NAT_petranger02',
    'petranger1992' : 'NAT_petranger92' }

col_to_add = list(col_dict.keys())
col_to_add

['petranger2022',
 'pimmigre2022',
 'pimmnatur2022',
 'pnatur2022',
 'petranger2012',
 'pimmigre2012',
 'pimmnatur2012',
 'petranger2002',
 'petranger1992']

In [27]:
df.shape

(37963, 547)

In [28]:
for c in list(col_dict.keys()) :
    df[col_dict[c]] = df[c]

In [29]:
df.shape

(37963, 556)

In [31]:
df = df.drop(df.columns[4:547], axis=1)
df.head(2)

,dep,nomdep,codecommune,nomcommune,NAT_petranger22,NAT_pimmigre22,NAT_pimmnatur22,NAT_pnatur22,NAT_petranger12,NAT_pimmigre12,NAT_pimmnatur12,NAT_petranger02,NAT_petranger92
0,80,SOMME,80355,FRESNEVILLE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,30,GARD,30213,REVENS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
df['codecommune'].nunique(),len(df)

(37963, 37963)

In [33]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [24]:
282 / 344

0.8197674418604651

In [25]:
df.shape

(37937, 426)

In [26]:
list_yyyy = [2022,2012,2002,1992]
list_indic = ['ppropri','nlogement']
list_col = df.columns.tolist()
for yyyy in list_yyyy :
    for indic in list_indic :
        col_source = str(indic) + str(yyyy)
        if col_source in list_col :
            yy=str(yyyy)[-2:]
            new_col='PRO_'+ str(indic) + str(yy)
            df[new_col] = df[col_source]

df.shape

(37937, 434)

In [27]:
df = df.drop(df.columns[4:426], axis=1)
df.head(2)

,dep,nomdep,codecommune,nomcommune,PRO_ppropri22,PRO_nlogement22,PRO_ppropri12,PRO_nlogement12,PRO_ppropri02,PRO_nlogement02,PRO_ppropri92,PRO_nlogement92
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0.825359,418,0.819767,344,0.806691,269.0,0.768116,207.0
1,01,AIN,01002,ABERGEMENT-DE-VAREY,0.809524,126,0.800000,100,0.853333,75.0,0.897059,68.0

In [28]:
df.isna().sum()

dep                   0
nomdep             1375
codecommune           0
nomcommune         1375
PRO_ppropri22      1392
PRO_nlogement22       0
PRO_ppropri12      1377
PRO_nlogement12       0
PRO_ppropri02      1374
PRO_nlogement02    1374
PRO_ppropri92      1397
PRO_nlogement92    1396
dtype: int64

In [29]:
df['codecommune'].nunique(),len(df)

(37937, 37937)

## <a name="TRANSCO"></a>Partie 3 : Filtres et/ou calculs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [30]:
file_path = '../DATA/list_codecommune_leg2022_50inscrits.txt'

# Open the text file and read lines into a list
with open(file_path, 'r', encoding='utf-8') as file:
    lines = [line.strip() for line in file.readlines()]

# Print or manipulate the list of lines as needed
print(lines[0:10], len(lines))

['01001', '01002', '01004', '01005', '01006', '01007', '01008', '01009', '01010', '01011'] 33830

In [31]:
df_filtered = df[df['codecommune'].isin(lines)]
df_filtered.shape,df.shape

((33803, 12), (37937, 12))

In [32]:
codecommune_listdf_filtered= df_filtered['codecommune'].tolist()
codecommune_listdf_filtered[1], len(codecommune_listdf_filtered)

('01002', 33803)

In [33]:
absent = [x for x in lines if x not in codecommune_listdf_filtered]
len (absent)

27

In [34]:
absent

['13201',
 '13202',
 '13203',
 '13204',
 '13205',
 '13206',
 '13207',
 '13208',
 '13209',
 '13210',
 '13211',
 '13212',
 '13213',
 '13214',
 '13215',
 '13216',
 '69281',
 '69282',
 '69283',
 '69284',
 '69285',
 '69286',
 '69287',
 '69288',
 '69289',
 '69380',
 '75056']

In [35]:
df_filtered['DBL_bug'] = 0

In [36]:
df_filtered.head(1)

,dep,nomdep,codecommune,nomcommune,PRO_ppropri22,PRO_nlogement22,PRO_ppropri12,PRO_nlogement12,PRO_ppropri02,PRO_nlogement02,PRO_ppropri92,PRO_nlogement92,DBL_bug
0,01,AIN,01001,ABERGEMENT-CLEMENCIAT,0.825359,418,0.819767,344,0.806691,269.0,0.768116,207.0,0

In [37]:
df_filtered.shape

(33803, 13)

In [38]:
for i,code in enumerate(absent) :
    new_row = ['*', '*', code, '*', np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 1]
    row_df = pd.DataFrame([new_row], columns=df_filtered.columns)
    df_filtered = pd.concat([df_filtered, row_df], ignore_index=True)
df_filtered.shape

(33830, 13)

In [40]:
33830-33803

27

In [41]:
df_filtered.isna().sum()

dep                 0
nomdep             11
codecommune         0
nomcommune         11
PRO_ppropri22      63
PRO_nlogement22    27
PRO_ppropri12      55
PRO_nlogement12    27
PRO_ppropri02      54
PRO_nlogement02    54
PRO_ppropri92      88
PRO_nlogement92    88
DBL_bug             0
dtype: int64

In [113]:
len(lines)

33830

In [114]:
len(df_filtered)

33830

## <a name="EXPORT"></a>Partie 4 : EXPORT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#TOP">&uarr;</a>

In [115]:
for i,c in enumerate(df_filtered) : 
    print (i,c)

0 dep
1 nomdep
2 codecommune
3 nomcommune
4 KP1_capitalimmo22
5 KP1_prixbien22
6 KP1_capitalimmo12
7 KP1_prixbien12
8 KP1_capitalimmo02
9 KP1_prixbien02
10 KP1_capitalimmo92
11 KP1_prixbien92
12 DBL_bug

In [42]:
path_export='../DATA/EXPORT_CSV/final_PRO_proprietairescommunes.csv'

In [43]:
df_filtered.to_csv(path_export, sep=';', index=False)

print(f'DataFrame exported to: {path_export}')

DataFrame exported to: ../DATA/EXPORT_CSV/final_PRO_proprietairescommunes.csv